body {
	background: linear-gradient(90deg, black,#434343);
	background-size: 300% 300%;
	/* animation: gradient 15s ease infinite; */
  color: white;
  text-align: center;
  padding: 0px;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#6b00d7, #9733EE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:link {
  color: #8F00FF;
  background-color: transparent;
  text-decoration: none;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#box {
  border-radius: 60px;
  border-color: 45px;
  border-style: solid;
  font-family: cursive;
  text-align: center;
  background-color: rgb(168, 131, 61);
  font-size: medium;
  position: absolute;
  width: 700px;
  bottom: 9%;
  height: 850px;
  right: 30%;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

#fuel {
  width: 83px;
  height: 43px;
  text-align: center;
  border-radius: 14px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#fuel:hover {
  background-color: #8F00FF;
}

#research {
  width: fit-content;
  height: 43px;
  text-align: center;
  border-radius: 14px;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#research:hover {
  background-color: #8F00FF;
}

#resea {
  width: fit-content;
  height: 43px;
  text-align: center;
  border-radius: 14px;
  font-size: 18px;font-family: Georgia, 'Times New Roman', Times, serif;
}

#resea:hover {
  background-color: #8F00FF;
}


#first {
  border-radius: 14px;
  height: 25px;
  font-size: 20px;
  text-align: center;
}

#second {
  border-radius: 14px;
  height: 25px;
  font-size: 20px;
  text-align: center;
}

#third {
  border-radius: 14px;
  height: 25px;
  font-size: 20px;
  text-align: center;
}

#fourth {
  border-radius: 14px;
  height: 25px;

  font-size: 20px;
  text-align: center;
}

.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

